.mentor{
  color:#222;
}
body{
  margin-top: 50px;
  margin-left: 25px;
  background: #222;
  //font-family: 'Helvetica', sans-serif;
}
p{
  color: #fff;
}
img {
    margin-left: 25px;
    box-sizing: border-box;
	  border: 5px white solid;
    transform: translatey(0px);
	  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.button{
  display: inline-block;
  text-decoration: none;
  color:#cca000;
  box-shadow: 0 10px 10px -5px;
  transition: transform 1s, box-shadow 1s, bakground 1s;
}
.button:hover{
  transform: scale(1.2);
  box-shadow: 0 25px 15px -5px;
}
